/* Основной фон страницы */
body {
    background-color: #e5e5e5; /* Задаем светло-серый фон для всей страницы */
    justify-content: center; /* Выровнять весь контент по горизонтали */
    align-items: center; /* Выровнять весь контент по вертикали */
}
/* Контейнер для формы регистрации */
.entrance-container{
    margin-top: 50px; /* Добавляем отступ сверху для контейнера формы */
    width: 100%;  /* Ширина контейнеров */
    max-width: 800px; /* Ограничиваем максимальную ширину для обоих контейнеров */
}
.registration-container {
    margin-top: 50px; /* Добавляем отступ сверху для контейнера формы */
    width: 100%;  /* Ширина контейнеров */
    max-width: 1200px; /* Ограничиваем максимальную ширину для обоих контейнеров */
}

/* Карточка с формой регистрации */
.entrance-card,
.registration-card {
    background-color: #ffffff; /* Задаем белый фон для карточки формы */
    padding: 20px; /* Внутренний отступ для карточки */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Добавляем тень для создания эффекта "всплытия" карточки */
    border-radius: 10px; /* Закругляем углы */
}
/* Центрирование формы */
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем все элементы внутри формы */
}

/* Выровнять инпуты и кнопки */
.form-group {
    width: 100%; /* Инпуты занимают всю ширину родительского контейнера */
}

.form-control {
    display: flex;
    width: 100%; /* Инпуты растягиваются на всю ширину родительского контейнера */
    max-width: 305px; /* Ограничиваем максимальную ширину инпутов */
}

/* Стиль заголовков (h3) */
h3 {
    color: #4a4a4a; /* Темно-серый цвет для заголовков */
    font-weight: bold; /* Делаем заголовок жирным */
}

/* Стиль для меток (label) в форме */
.form-group label {
    color: #4a4a4a; /* Темно-серый цвет для текста меток */
    font-size: 13px; /* Размер шрифта для меток */
}


.form-check {
    display: flex; /* Используем flexbox для того, чтобы метка и поле ввода располагались в одну линию */
    align-items: center; /* Выравнивание элементов по вертикали (по центру) */
    margin-bottom: 15px; /* Отступ снизу для пространства между строками формы */
    min-width: 150px; /* Устанавливаем минимальную ширину для меток, чтобы они были выровнены */
    text-align: right; /* Выравниваем текст метки по правому краю, чтобы метка находилась ближе к полю ввода */
    font-size: 13px; /* Размер шрифта для меток */
}

.form-group input {
    flex: 1; /* Поле ввода растягивается на оставшееся пространство рядом с меткой */
    padding: 10px; /* Добавляем внутренние отступы */
    font-size: 12px; /* Размер шрифта внутри полей ввода */
    border: 1px solid #00549b; /* Прозрачная граница, чтобы показать градиент */
    border-radius: 10px; /* Скругленные углы */
    margin-bottom: 5px;
}

/* Стиль для звездочки, указывающей на обязательность поля */
.required {
    margin-left: 5px;
    color: #b71b22; /* Красный цвет для обязательной звездочки */
}
.gradient {
    background: linear-gradient(135deg, #f08b22 30%, #00549b 70%);
    border: none;
    border-radius: 10px;
    color: white;
    transition: background 1.4s ease; /* Плавный переход при наведении */
}

.gradient:hover {
    background: linear-gradient(135deg, #00549b 30%, #f08b22 70%);
}
/* Основной стиль для кнопок формы (красная кнопка) */
.btn-primary {
    background-color: #f08b22; /* Основной красный цвет кнопки */
    border-color: #f08b22; /* Красная граница для кнопки */
    border: none;
    border-radius: 10px;
    color: white; /* Белый цвет текста на кнопке */
    max-width: 300px; /* Ограничиваем ширину кнопки */
}

/* Стиль кнопки при наведении */
.btn-primary:hover {
    background-color: #00549b; /* Более темный красный цвет при наведении */
    border-color: #00549b; /* Темная красная граница при наведении */
}

/* Стиль для дополнительной кнопки (если она понадобится) */
.btn-secondary {
    background-color:#00549b; /* Красная кнопка */
    border-color: #00549b; /* Красная граница */
    border: none;
    border-radius: 10px;
    color: white; /* Белый текст */
    max-width: 400px; /* Ограничиваем ширину кнопки */

}

/* Изменение стиля кнопки при наведении мыши */
.btn-secondary:hover {
    background-color: #f08b22; /* Более темный красный цвет при наведении */
    border-color: #f08b22; /* Темная красная граница */
}

/* Стиль для нижнего колонтитула (футера) */
.footer {
    margin-top: 20px; /* Добавляем отступ сверху для футера */
    text-align: center; /* Выравниваем текст по центру */
    color: #4a4a4a; /* Темно-серый цвет текста */
    font-size: 12px; /* Размер шрифта */
}
/* Заголовки */
h3 {
    color: #00549b;
    font-weight: bold;
}

/* Стиль для верхнего блока с логотипом (header) */
.header {
    background-color: #00549b; /* Синий фон для верхней части страницы */
    padding: 10px 0; /* Отступ сверху и снизу для блока с логотипом */
}

/* Стиль для логотипа в header */
.header img {
    max-width: 100%; /* Логотип будет автоматически масштабироваться до 100% ширины */
    height: 50px; /* Фиксированная высота для логотипа */
}

/* Стиль для ссылок в header (меню навигации) */
.header .nav-link {
    color: white; /* Белый цвет текста в навигационных ссылках */
    font-weight: bold; /* Делаем ссылки жирными */
}
